.cookieBanner {
  max-width: 100vw;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  z-index: 999999;
}

.cookie {
  position: absolute;
  max-width: 500px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  padding: 10px 20px;
  left: calc(50% - 250px);
  margin: 0 auto;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, .2);
}

.cookie p {
  margin-bottom: 20px;
  line-height: 1.2;
}

.buttonArea {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttonArea button {
  padding: 8px 20px;
  border-radius: .25rem;
  border: 0;
  cursor: pointer;
}

.buttonArea button:hover {
  opacity: .8;
}

.buttonArea button:nth-child(1) {
  background: linear-gradient(180deg, #05A86C 0%, #039A62 100%);
  color: #F1F1F1;
}