main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  gap: 23px;
  margin: 170px auto;
  display: flex;
  align-items: center;
}

.text {
  max-width: 500px;
  width: 100%;
  padding-left: 30px;
}

.text h1, .text p {
  opacity: 0;
}

.text h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  animation: fadeIn .4s linear forwards .3s;
  margin-bottom: 15px;
}

.text p {
  animation: fadeIn .4s linear forwards .4s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.text span {
  position: relative;
  display: inline-block;
  color: #2DA641;
}

.text span svg {
  position: absolute;
  width: 105%;
  bottom: 0;
  left: -2.5%;
}

.text p {
  max-width: 576px;
  font-size: 1rem;
}


.backgrounds {
  position: relative;
  align-self: start;
  width: 700px;
  height: 200px;
  flex-shrink: 0;
  z-index: -1;
}

.backgrounds img {
  opacity: 0;
  width: calc(100% - 25px);
  position: absolute;
}

.backgrounds img:nth-child(1) {
  transform: translateX(-25px);
  animation: fadeBg1 .4s linear forwards .3s;
}

.backgrounds img:nth-child(2) {
  transform: translate(25px, -50px);
  animation: fadeBg2 .4s linear forwards .4s;
}

@keyframes fadeBg1 {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(initial);
  }
}

@keyframes fadeBg2 {
  from {
    opacity: 0;
    transform: translate(100px, -50px);
  }

  to {
    opacity: 1;
    transform: translateX(initial);
  }
}


@media only screen and (max-width: 1149px) {
  .text h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1100px) {
  .text {
    flex-shrink: 1;
  }

  .backgrounds {
    flex-shrink: 1;
  }
}

@media only screen and (max-width: 981px) {
  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 170px auto;
  }

  .text h1, .text p {
    text-align: center;
  }

  .backgrounds {
    align-self: center;
    bottom: -50px;
  }
}

@media only screen and (max-width: 800px) {

  .backgrounds {
    width: 80vw;
  }

  .backgrounds img:nth-child(2) {
    transform: translate(20px, -50px);
    animation: fadeBg2 .4s linear forwards .4s;
  }
}

@media only screen and (max-width: 768px) {

  .text {
    margin-top: 60px;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .text span svg {
    width: 108%;
    left: -4%;
    bottom: -2px;
    transform: rotate(0.6deg);
  }
}