@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: #1f1f1f;
}

img {
  max-width: 100%;
  display: block;
}

.bgSection {
  background: url('../../../public/midia/bgSection.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  color: #FDFDFD;
}

.bgSection p {
  color: #E5DEDE;
}

.sectionTitle {
  padding: 30px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin: 4rem auto 0 auto;
  text-align: center;
}

.sectionTitle h3 {
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .sectionTitle {
    margin-top: 2rem;
  }

  .sectionTitle h3 {
    font-size: 1.5rem;
  }
}